/* Emby version : 3.1.0 and later */

/* Color HEX codes */

/* Color (GREEN) : #52B54B & (82,181,75)
/* Dark Color  : #3E8437
/* Gray 1      : #404040              (Button backgrounds)
/* Gray 2      : #4D4D4D              (Sidelink panel hover)
/* Dark Gray 1 : #181818              (Side Panel background)
/* Dark Gray 2 : #303030              (Divider line)
/* Dark Gray 3 : #101010              (Background)
/* Dark Gray 4 : #202020              (Panel background)
/* Black 1     : #010101
/* Black 2     : #090909              (Pop-up window)
/* Black 3     : (02,02,02)           (Top & bottom menu bar)
/* Black 4     : #121212              (Pop-up window 2)
/* White 1     : #CCCCCC              (Default text)
/* White 2     : #656565              (Field description)
/* White 3     : #EDEDED              (Gray button title)
/* White 4     : #EEEEEE              (Side panel icon)
/* White 5     : #FFFFFF              (Real white)
/* White 6     : #9b9b9b              (Disabled & Link hover)
/* White 7     : #BBBBBB              (Side panel header)

/* ------------ Dark Theme & Colored highlight ------------ */

/* ------------ Table of Contents ------------ */

/* ------ 1.0 : Color Highlights ------ */
/* --- 1.1 : Buttons --- */
/* Checkboxes */
/* Circles */
/* Icons & Menu Bars */
/* Rectangles & Others */
/* --- 1.2 : Details --- */
/* Icons & Indicators */
/* Glow lights */
/* Links */
/* Font Colors */
/* Pop-up Windows */
/* Metadata Editor Page & Side Panel */
/* Lines & Others */
/* Chrome */
/* Firefox */
/* Edge */

/* ------ 2.0 : Removed Elements ------ */
/* --- 2.1 : Home page & Library --- */
/* --- 2.2 : Metadata Editor Page --- */

/* ------ 3.0 : Global Modifications ------ */
/* --- 3.1 : Buttons --- */
/* Icons */
/* --- 3.2 : Details --- */
/* Corrections */
/* Report Manager Page */
/* Metadata Editor Page & Side Panel */
/* Scrollbars */

/* ------ 4.0 : Dark Theme (Can be removed) ------ */
/* --- 4.1 : Buttons --- */
/* Checkboxes */
/* Dashboard */
/* --- 4.2 : Details --- */
/* Panels & Backgrounds */
/* Icons */
/* Font Colors */
/* Pop-up Windows */
/* Lines & Others */
/* --- 4.3 : Dashboard Left/Right Side Panels --- */
/* Panels & Backgrounds */

/* ------ 5.0 : Manual Fixes ------ */


/* ---------------------------------------------------- */

/* ------ 1.0 : Color Highlights ------ */

/* --- 1.1 : Buttons --- */
/* Checkboxes */
.ui-btn.ui-checkbox-on:after {
    background-color: #52B54B !important;
    border-color: #52B54B !important;}
.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after, html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after, .ui-btn.ui-radio-on.ui-btn-a:after {border-color: #52B54B;}
div#checkbox.checked.style-scope.paper-checkbox {
background-color: #52B54B !important;
border-color: #52B54B;}
.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color: #52B54B;}
.paper-radio-button-0 #onRadio.paper-radio-button, paper-toggle-button #toggleButton, paper-toggle-button[checked] #toggleBar {
    background-color: #52B54B;}
/* Circles */
.blue.x-scope.paper-fab-0, .red.x-scope.paper-fab-0, .green.x-scope.paper-fab-0, .orange.x-scope.paper-fab-0, paper-fab.btnPlay.detailFloatingButton.x-scope.paper-fab-0, .scheduledTaskPaperIconItem[data-status='Idle'] paper-fab, paper-icon-item.btnLogout.x-scope.paper-icon-item-0 paper-fab.x-scope.paper-fab-0, div.devicesList paper-fab.x-scope.paper-fab-0, paper-fab.btnCloseDialog.x-scope.paper-fab-0, paper-fab.btnOpenUploadMenu.subdued.x-scope.paper-fab-0, paper-fab.btnBrowseAllImages.subdued.x-scope.paper-fab-0, paper-fab.btnOpenUploadMenu.subdued.x-scope.paper-fab-0, paper-fab.btnCancelVoiceInput.x-scope.paper-fab-0, paper-fab.btnNewCollection.bottomFab.x-scope.paper-fab-0, div.btnNotificationsInner.levelNormal, div.paperList.folderList paper-fab.x-scope.paper-fab-0, paper-fab.btnCancelSupporterInfo.x-scope.paper-fab-0, div.adminSection paper-fab.x-scope.paper-fab-0 {
background-color: #52B54B !important;
color: #FFFFFF !important;}
.ui-body-b paper-fab.subdued[elevation="1"], .ui-body-b paper-fab.subdued[elevation="4"] {background: #52B54B !important;}
.scheduledTaskPaperIconItem[data-status="Running"] paper-fab {background-color: #3E8437 !important;}
/* Icons & Menu Bars */
.btnUserItemRatingOn {color: #52B54B !important;}
.viewMenuBar paper-icon-button, paper-icon-button.btnCast.headerButton.headerButtonRight.x-scope.paper-icon-button-0.btnActiveCast, paper-icon-button.nowPlayingCastIcon.x-scope.paper-icon-button-0.btnActiveCast, paper-icon-button.nowPlayingCastIcon.x-scope.paper-icon-button-0, paper-icon-button.mediaButton.toggleRepeatButton.x-scope.paper-icon-button-0.repeatActive, paper-icon-button.btnCancel.x-scope.paper-icon-button-0, div.videoAdvancedControls paper-icon-button.mediaButton.x-scope.paper-icon-button-0, paper-icon-button.btnExitRemoteControl.x-scope.paper-icon-button-0, paper-icon-button.btnNextPage.x-scope.paper-icon-button-0, paper-icon-button.btnPreviousPage.x-scope.paper-icon-button-0, 
paper-button.accent, paper-icon-button.btnUp.x-scope.paper-icon-button-0, paper-icon-button.btnDown.x-scope.paper-icon-button-0, .ui-body-a .emby-collapsible-button, paper-icon-button.btnViewItemDown.btnViewItemMove.x-scope.paper-icon-button-0, paper-icon-button.btnViewItemUp.btnViewItemMove.x-scope.paper-icon-button-0 {
color: #FFFFFF !important;}
paper-icon-item.localReaderOption.x-scope.paper-icon-item-0 iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1 {
color: #FFFFFF !important;}
div.primaryIcons iron-icon.x-scope.iron-icon-0, button.btnExitRemoteControl iron-icon.x-scope.iron-icon-0, button.nowPlayingCastIcon iron-icon.x-scope.iron-icon-0{
color: #FFFFFF !important;}
.starRatingContainer iron-icon, button.toggleRepeatButton.mediaButton.repeatActive {
    color: #52B54B !important;}
div.videoAdvancedControls button.mediaButton {
color: #52B54B !important;}
button.nextTrackButton.mediaButton.videoTrackControl[disabled], button.previousTrackButton.mediaButton.videoTrackControl[disabled] {
    color: #9b9b9b !important;}
button.nextTrackButton.mediaButton.videoTrackControl, button.previousTrackButton.mediaButton.videoTrackControl {
    color: #FFFFFF !important;}
/* Rectangles & Others */
paper-button#btnShutdown.subdued.x-scope.paper-button-0, paper-button.subdued.btnRestartContainer.x-scope.paper-button-0 {
background: #090909 !important;
color: #52B54B;}
paper-button[raised].accent, paper-button[raised].submit, paper-button[raised].more, paper-button[raised].secondary, button[data-theme='b']:not([data-role='none']):not(.clearButton), div.supporterPromotion paper-button.block.x-scope.paper-button-0 {
    background: #52B54B !important;
    color: #FFFFFF !important;}
div[data-role="controlgroup"] a.ui-btn-active, .selectionCommandsPanel {
    background: #52B54B !important;
    color: #FFFFFF !important;}
a.cardContent.mediaItem:visited {color: #52B54B !important;}
.itemSelectionPanel {border: 1px solid #52B54B !important;}
paper-tabs paper-ripple {display: none !important;}
.dashboardDocument .viewMenuBar #selectionBar {
    background: #52B54B !important;}
.pageTabButton.is-active .pageTabButtonSelectionBar {
    background: #52B54B !important;
}
/* --- 1.2 : Details --- */
/* Icons & Indicators */
.playedIndicator {background-color: #52B54B !important;}
p#pUpToDate svg.style-scope.iron-icon {
    background-color: #52B54B !important;
    border-radius: .25em;
    color: #fff;
    margin-right: .0em;}
.missingPosterRibbon {background: rgba(82,181,75,.8);}
/* Links */
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
	color: #52B54B;
	font-weight: bold;}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited, .ui-page-theme-b a, html .ui-bar-b a, html .ui-body-b a, html body .ui-group-theme-b a, .ui-page-theme-b a:visited, html .ui-bar-b a:visited, html .ui-body-b a:visited, html body .ui-group-theme-b a:visited {color: #52B54B;}
.selectedCharacter {color: #52B54B !important;}
.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover, .ui-page-theme-b a:hover, html .ui-bar-b a:hover, html .ui-body-b a:hover, html body .ui-group-theme-b a:hover {
	color: #9b9b9b;}
.ui-page-theme-a a:active, html .ui-bar-a a:active, html .ui-body-a a:active, html body .ui-group-theme-a a:active, .ui-page-theme-b a:active, html .ui-bar-b a:active, html .ui-body-b a:active, html body .ui-group-theme-b a:active {
	color: #3E8437;}
/* Font Colors */
.type-interior h2 {color: #52B54B;}
p.disclaimer {
    color: #52B54B !important;
    font-size: 20px;}
.ui-body-a .paper-input-container-0 .input-content.label-is-highlighted.paper-input-container label, 
.ui-body-b .paper-input-container-0 .input-content.label-is-highlighted.paper-input-container label, .libraryViewNav a:not(.ui-btn-active):hover, .paper-input-container-0 .input-content.label-is-highlighted.paper-input-container label {
color: #52B54B !important;}
div#revisionHistory h2, 
div.readOnlyContent h2, form.playbackConfigurationForm h2 {color: #52B54B !important;}
div#divRunningTasks span, paper-icon-item.scheduledTaskPaperIconItem.x-scope.paper-icon-item-0 span {color: #52B54B !important;}
/* Pop-up Windows */
dialog.dialog.scrollY.opened paper-button.btnCancel.x-scope.paper-button-0, dialog.dialog.scrollY.opened 
paper-button.btnConfirm.x-scope.paper-button-0, paper-button.actionSheetMenuItem.x-scope.paper-button-0, .promptDialogContent paper-button {color: #52B54B !important;}
paper-button.actionSheetMenuItem.x-scope.paper-button-0:hover {
    color: #090909 !important;
    background-color: #52B54B;}
select, .paper-dialog-0 .buttons, div.promptDialogContent a {color: #52B54B !important;}
dialog.dialog.scrollY.ui-body-a.background-theme-a.adminAppsMenu.centeredDialog.opened a.adminAppsButton {color: #52B54B !important;}
.dialog .buttons {color: #52B54B !important;}
div.focuscontainer.dialog.smoothScrollY.ui-body-a.background-theme-a.adminAppsMenu.centeredDialog.opened {color: #52B54B !important;}
/* Metadata Editor Page & Side Panel */
div.jstree-wholerow.jstree-wholerow-clicked {
    background: #52B54B !important;
    color: #FFFFFF !important;}
.adminDrawerPanel iron-icon#expandIcon.style-scope.emby-collapsible.x-scope.iron-icon-0 {color: #52B54B !important;}
.adminDrawerPanel .sidebarLink.selectedSidebarLink, a.lnkMediaFolder.sidebarLink.selectedMediaFolder, a.lnkMediaFolder.sidebarLink.selectedMediaFolder span.sectionName, a.lnkMediaFolder.sidebarLink.selectedMediaFolder span.sidebarLinkText {
    background: #52B54B !important;
color: #FFFFFF !important;}
.adminDrawerPanel .sidebarLink.selectedSidebarLink:hover, a.sidebarLink.selectedSidebarLink iron-icon.sidebarLinkIcon.x-scope.iron-icon-0, a.lnkMediaFolder.sidebarLink.selectedMediaFolder iron-icon.sidebarLinkIcon.x-scope.iron-icon-0 {color: #FFFFFF !important;}
/* Lines & Others */
:focus {outline: #52B54B 5px;}
input:focus, select:focus {outline: #52B54B auto 5px;}
div.focused-line.style-scope.paper-input-container {
    background-color: #52B54B !important;}
paper-tabs #selectionBar {
    background-color: #52B54B !important;}
.libraryViewNav .ui-btn-active {
  border-bottom-color: #52B54B;}
div[data-itemtype="CollectionFolder"] .cardContent,
div[data-itemtype="UserView"] .cardContent,
div[data-itemtype="PlaylistsFolder"] .cardContent, div[data-itemtype="Channel"] .cardContent {
  border: 1px solid rgba(82,181,75,.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,181,75,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,181,75,.6);}
.galleryImageContainer:hover {
	-moz-box-shadow: 0 0 0 5px #52B54B;
	-webkit-box-shadow: 0 0 0 5px #52B54B;
	box-shadow: 0 0 0 5px #52B54B;}
.itemDetailGalleryLink img:hover {
    -moz-box-shadow: 0 0 20px 3px #52B54B;
    -webkit-box-shadow: 0 0 20px 3px #52B54B;
    box-shadow: 0 0 20px 3px #52B54B;}
.remoteImageContainer .remoteImage:hover, .remoteImageContainer .searchImageContainer:hover {
    -moz-box-shadow: 0 0 0 5px #52B54B;
    -webkit-box-shadow: 0 0 0 5px #52B54B;
    box-shadow: 0 0 0 5px #52B54B;}
.paper-slider-0 #sliderKnobInner.paper-slider, div#primaryProgress.style-scope.paper-progress, div#sliderKnobInner.style-scope.paper-slider, .paper-slider-0 #sliderKnobInner.paper-slider::before {
    background-color: #52B54B !important;
    border-color: #52B54B !important;}
::selection{ background-color: #3E8437 !important;}
.mdl-spinner__layer-1, .mdl-spinner__layer-2, .mdl-spinner__layer-3, .mdl-spinner__layer-4 {
    border-color: #52B54B !important;}
/* Chrome */
progress::-webkit-progress-value {
    background-color: #52B54B !important;}
/* Firefox */
progress::-moz-progress-bar {
    background: #52B54B;}
/* Edge */
progress {color: #52B54B;}

/* ------ 2.0 : Removed Elements ------ */

/* --- 2.1 : Home page & Library --- */
#similarCollapsible{ display: none !important;}

/* --- 2.2 : Metadata Editor Page --- */
img[src='css/images/editor/missingtrailer.png'] {
  display:none;}

/* ------ 3.0 : Global Modifications ------ */

/* --- 3.1 : Buttons --- */
/* Icons */
.btnUserItemRating {color: #CCCCCC;}
paper-fab.btnCommand.subdued.repeatToggleButton.x-scope.paper-fab-0.nowPlayingPageRepeatActive {color: #090909 !important;}
.scheduledTaskPaperIconItem[data-status="Cancelling"] paper-fab {background-color: #181818;}
.btnNotificationsInner {background-color: #404040 !important;}
/* --- 3.2 : Details --- */
/* Corrections */
iron-autogrow-textarea#input.paper-input-input.style-scope.paper-textarea.x-scope.iron-autogrow-textarea-0 {height: 300px !important;}
div.readOnlyContent.dashboardHomeRightColumn.firstDashboardHomeRightColumn div.paperList.activityItems paper-fab.x-scope.paper-fab-0 {background-color: transparent !important;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0);
color: #52B54B !important;}
div#criticRatingSummary.paperList {
background-color: transparent !important;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0);}
paper-icon-button.nextTrackButton.mediaButton.videoTrackControl.x-scope.paper-icon-button-0, 
paper-icon-button.previousTrackButton.mediaButton.videoTrackControl.x-scope.paper-icon-button-0 {
    color: #FFFFFF !important;}
paper-icon-button.nextTrackButton.mediaButton.videoTrackControl.x-scope.paper-icon-button-0[disabled], 
paper-icon-button.previousTrackButton.mediaButton.videoTrackControl.x-scope.paper-icon-button-0[disabled], paper-icon-button.btnNextPage.x-scope.paper-icon-button-0[disabled], 
paper-icon-button.btnPreviousPage.x-scope.paper-icon-button-0[disabled], paper-icon-button.btnUp.x-scope.paper-icon-button-0[disabled], paper-icon-button.btnDown.x-scope.paper-icon-button-0[disabled] {color: #9b9b9b !important;}
div#footer.footer {
background-color: rgba(02,02,02,.94) !important;}
.footerNotification {border-top: rgba(02,02,02,.94) !important;}
h1.pageTitle {font-size: 30px;}
.nowPlayingBar, .viewMenuBar, .libraryViewNav {background-color: rgba(02,02,02,.50) !important;}
.nowPlayingBar {border-top: rgba(2,2,2,.50) !important;}
h1, h1 a {font-size: 22px;}
div.dialogHeader {background: #090909 !important;}
div.paperList.itemsListview {
background: transparent !important;}
paper-icon-item.localReaderOption.x-scope.paper-icon-item-0 paper-fab.x-scope.paper-fab-0 {background: #444444 !important;}
/* Report Manager Page */
div#libraryReportManagerPage.page.libraryPage.noSecondaryNavPage.reportsPage.page-view.ui-page.ui-page-theme-b.ui-body-b div.visualCardBox {
background: transparent !important;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0);
    box-shadow: 0 2px 4px rgba(0,0,0,0);}
li.ui-li.listItem.ui-li-has-alt.ui-first-child {border-bottom: 1px solid transparent;}
div#libraryReportManagerPage.page.libraryPage.noSecondaryNavPage.reportsPage.page-view.ui-page.ui-page-theme-b.ui-body-b a.item.ui-btn {
background: #090909 !important;
border-color: #090909;
color: #52B54B !important;}
div#libraryReportManagerPage.page.libraryPage.noSecondaryNavPage.reportsPage.page-view.ui-page.ui-page-theme-b.ui-body-b a.item.ui-btn:hover {
background: #52B54B !important;
border-color: #52B54B;
color: #090909 !important;}
div#libraryReportManagerPage.page.libraryPage.noSecondaryNavPage.reportsPage.page-view.ui-page.ui-page-theme-b.ui-body-b a.listviewMenuButton.ui-btn.ui-btn-inline {
background: transparent !important;
border-color: transparent;
color: #FFFFFF !important;}
/* Metadata Editor Page & Side Panel */
.libraryTree .jstree-wholerow-hovered {
    background: #4D4D4D !important;}
.libraryTree .jstree-default .jstree-hovered {
	color: #4B0082 !important;}
a.lnkMediaFolder.sidebarLink iron-icon.sidebarLinkIcon.x-scope.iron-icon-0, a.lnkMediaFolder.sidebarLink span, a.lnkMediaFolder.sidebarLink {color: #EDEDED !important;}
.adminDrawerPanel #drawer {border-right: transparent;}
.adminDrawerLogo {
background: #181818;
border-bottom: 1px solid #303030 !important;}
/* Scrollbars */
::-webkit-scrollbar-corner {background-color: #3B3B3B;}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #3B3B3B;}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #888888;}
div.mainDrawer::-webkit-scrollbar-corner {background-color: transparent;}
div.mainDrawer::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;}
div.mainDrawer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #888888;}

/* ------ 4.0 : Dark Theme (Can be removed) ------ */

/* --- 4.1 : Buttons --- */
/* Checkboxes */
div#checkbox.style-scope.paper-checkbox {
    border-color: #CCCCCC;}
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-radio-on, label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on {
    background-color: #202020;
    color: #FFFFFF !important;
    border: 1px solid #303030;}
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-radio-off, label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off {
    background-color: #202020;
    color: #EDEDED !important;
    border: 1px solid #303030;}
.ui-btn.ui-checkbox-off:after, .ui-btn.ui-radio-off:after {background: #000000 !important;}
/* Dashboard */
paper-button.cancel.block.btnCancel.x-scope.paper-button-0, paper-button.cancel.block.x-scope.paper-button-0, paper-button.btnSync.x-scope.paper-button-0, paper-button.btnRefresh.x-scope.paper-button-0 {
background-color: #404040 !important;
color: #EDEDED !important;}
.ui-body-a .emby-collapsible-button {
    border: 1px solid #202020;
    background-color: #202020;}
a.ui-collapsible-heading-toggle.ui-btn.ui-icon-plus.ui-btn-icon-left.ui-btn-inherit, a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-minus  {
background-color: #202020 !important;
border-color: #202020;
color: #EDEDED;}
a[data-role='button'] {
    border: 1px solid #303030 !important;
    color: #EDEDED !important;
    background: #404040 !important}

/* --- 4.2 : Details --- */
/* Panels & Backgrounds */
div.ui-page-theme-a.ui-body-a, .background-theme-b, .noBackdrop, .background-theme-a, div.backdropContainer {
background-color: #101010;}
div.paperList, .activeSession:not(.playingSession) .sessionNowPlayingInnerContent, div.cardBox.visualCardBox, div.editorTileFooter {
  background-color: #202020 !important;
  color: #CCCCCC !important;}
div.card.activeSession > div > div:nth-child(2) {
background: #202020 !important;
border-top: 1px solid #303030 !important;
color: #CCCCCC !important;}
.ui-body-a .emby-collapsible-content, div.ui-collapsible-content.ui-body-inherit, div.directPlayProfiles, div.transcodingProfiles {
    border: 1px solid #090909;
    background-color: #090909;}
ul[data-role="listview"] > li[data-role="list-divider"] {
    background: #202020 !important;}
ul[data-role="listview"] , ul[data-role="listview"] > li{
    border-color: #303030 !important;}
ul[data-role="listview"] a + a {
    background-color: #404040;
    border-color: #404040;}
paper-item.lnkPath.lnkDirectory.x-scope.paper-item-0 {
    border-bottom: 1px solid #303030;}
.directoryPickerHeadline {background: #202020;}
li.localReaderOption {
background: #202020 !important;
color: #CCCCCC !important;
border-color: #303030;}
div.downloadLanguages.paperList.paperCheckboxList {
background: #090909 !important;
color: #CCCCCC !important;}
/* Icons */
div.divScheduledTasks iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1, div.notificationList iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1, div.devicesList iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1, paper-item.lnkPath.lnkDirectory.x-scope.paper-item-0 iron-icon.x-scope.iron-icon-0, div.cardFooter iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1, div.editorTileFooter iron-icon#icon.style-scope.paper-icon-button.x-scope.iron-icon-1 {
color: #FFFFFF !important;}
paper-icon-button.listviewMenuButton.x-scope.paper-icon-button-0 {color: #FFFFFF !important;}
paper-icon-item.x-scope.paper-icon-item-0 {color: #FFFFFF !important;}
paper-icon-button.btnRefreshDirectories.x-scope.paper-icon-button-0, paper-icon-button#btnSelectDashboardSourcePath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectCertPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectRecordingPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectWatchFolder.x-scope.paper-icon-button-0, paper-icon-button#btnSelectSyncTempPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectCustomIntrosPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectCodecIntrosPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectTranscodingTempPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectMetadataPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectUploadPath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectCachePath.x-scope.paper-icon-button-0, paper-icon-button#btnSelectPath.x-scope.paper-icon-button-0 {color: #FFFFFF !important;}
/* Font Colors */
h1, h2, .paper-input-container-0 .input-content.paper-input-container input, div.detailSectionHeader, textarea#textarea.style-scope.iron-autogrow-textarea {
color: #FFFFFF !important;}
h3, .ui-body-a {color: #EDEDED !important;}
p, div#appVersionNumber, span.logoLibraryMenuButtonText, div#checkboxLabel.style-scope.paper-checkbox, legend, .paper-radio-button-0 #radioLabel.paper-radio-button {
color: #CCCCCC !important;}
div.fieldDescription, label {color: #656565 !important;}
/* Pop-up Windows */
.dialog:not(.background-theme-a):not(.background-theme-b), paper-dialog.x-scope.paper-dialog-0 {
    background-color: #121212 !important;
    color: #CCCCCC !important;}
dialog.dialog.scrollY.fixedSize {
    background-color: #101010 !important;}
.ui-page-theme-a .ui-body-inherit, html .ui-body-a .ui-body-inherit {
    background: #090909 !important;
    border-color: #010101;
    color: #CCCCCC;}
div.ui-bar-a {
    background: #090909 !important;
    border-color: #090909;
    color: #FFFFFF;}
.background-theme-a, .dialog.background-theme-a {
    background-color: #090909;
    color: #CCCCCC;}
div.externalPlayerPostPlayFlyout.ui-popup.ui-body-a.ui-overlay-shadow.ui-corner-all {
    background: #090909 !important;
    color: #CCCCCC;}
div.externalPlayerPostPlayFlyout.ui-popup.ui-body-a.ui-overlay-shadow.ui-corner-all li {
    background: #090909 !important;
    border-color: transparent !important;
    color: #FFFFFF;}
.adminAppsMenuRow + .adminAppsMenuRow {border-top: 1px solid #303030;}
/* Lines & Others */
.ui-body-a .detailSectionHeader {
    border: 1px solid #303030;
    border-width: 0 0 1px 0;}
input:not(.paper-input):not(.likePaperText):not([type='checkbox']):not([type='radio']):not([type='file']):not([type='range']) {
    background: #010101;
    color: #FFFFFF;
    border: 1px solid #303030;}
div.ui-bar-inherit {background: #303030 !important;}
select option {
background: #090909 !important;
color: #FFFFFF !important;}

/* --- 4.3 : Dashboard Left/Right Side Panels --- */
/* Panels & Backgrounds */
div.mainDrawer, div#viewPanel.viewPanel.ui-panel.ui-panel-position-right.ui-panel-display-overlay.ui-body-b.ui-panel-fixed.ui-panel-animate.ui-panel-open {background: #181818;}
.sidebarDivider {background: #303030 !important;}
.adminDrawerPanel .sidebarHeader {color: #CCCCCC !important;}
span.sidebarLinkText {color: #EDEDED !important;}
a.sidebarLink:hover {background: #4D4D4D !important;}
.adminDrawerPanel .sidebarLinkIcon {color: #EDEDED !important;}

/* ------ 5.0 : Manual Fixes ------ */

/*--------------------------------------------------------------Remove Card BG and Details Cover Hover---------------------------------------------------------------*/
div.cardBox.visualCardBox {background-color: transparent !important;
}
.itemDetailImage.loaded {
    -moz-box-shadow: 0 0 20px transparent !important;
    -webkit-box-shadow: 0 0 20px transparent !important;
    box-shadow: 0 0 20px transparent !important;
    border: solid 1px transparent !important;
}

/*--------------------------------------------------------------RottenTomatoes and general List Entries------------------------------------------*/
div#criticRatingSummary.paperList {
    background-color: rgba(0,0,0,.40) !important;
    color: #CCCCCC !important;
}
div.paperList, .activeSession:not(.playingSession) .sessionNowPlayingInnerContent, div.cardBox.visualCardBox, div.editorTileFooter {
    background-color: rgba(0,0,0,.20) !important;
}

/*--------------------------------------------------------------Hide Theme Songs in Details------------------------------------------*/
#themeSongsCollapsible{ display: none !important;
}

/*--------------------------------------------------------------White Buttons------------------------------------------*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #FFFFFF !important;
    font-weight: bold;
}

/*--------------------------------------------------------------Emby Theater Detail View Mod (originally created by bfir3)------------------------------------------*/
@media (min-width: 1450px) {
div#itemDetailPage {
    width: 100%;
    float: left;
    padding: 0px !important;
    margin-left: 28px;
    /* padding-right: 200000px; */
}
div#itemBackdrop {
	position: absolute;
}
.detailPageContent {
    position: relative;
    top: 50px;
    width: auto;
}
.detailImageContainer {
    float: left;
    margin-top: 100px;
    margin-left: 60px;
    position: relative;
}
div.detailNameContainer>div.desktopDetails {
    margin-top: 25px !important;
}
div.detailNameContainer {
    margin-top: 20px;
}
div.primaryDetailsContainer {
    position: relative;
    left: 85px;
    float: left;
    top: 0px;
    width: auto !important;
    z-index: 1;
}
.inlineItemName {
    font-size: 32px !important;
}
.inlineItemName {
    color: #E4E4E4;
}
.itemName {
    font-weight: normal !important;
    margin: .5em 0;
    font-size: 40px;
}
.starRating, .starRatingValue {
	top: -4px !important;
}
h2.tagline {
    color: #54F054;
}
p.itemGenres {
    position: relative;
    min-height: 15px;
    font-size: 20px;
    top: 0px;
}
div.detailButtonsContainer {
    margin-left: -3px;
    font-size: 120%;
    top: 55px;
    z-index: 1000;
    position: relative;
}
div#itemDetailPage div.ui-content[data-role='content'] {
    padding-top: 0;
    /* top: -580px; */
    top: 320px;
    z-index: 0;
    clear: both;
    position: absolute;
    width: calc(100% - 80px);
    font-size: 16px;
}
.detailPageContent {
	position: relative;
	/* width: 100%; */
	max-width: none;
}
.portraitDetailImageContainer img {
    width: 200px;
}
div.detailNameContainer {
    margin-top: 50px !important;
    height: auto !important;
}
div.detailNameContainer>div:first-child {
    /* text-align: center; */
    max-width: 1200px;
    min-width: 500px;
    height: 140px;
    overflow: hidden;
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.detailNameContainer .desktopDetails {
    font-size: 22px;
}

.primaryDetailsContainer>.desktopDetails {
    padding-top: 0px !important;
}

.detailPageContent>.detailSection:first-child {
    margin-left: 522px;
    min-height: 230px;
    order: -3;
}
.primaryDetailsContainer>.desktopDetails {
    padding-top: 0px !important;  
}

.nextUpSection.detailSection {
    margin-left: 522px;
    min-height: 300px;
    margin-top: -60px;
    order: -2;
}


.tileContent {
    position: relative !important;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    z-index: 1000;
    bottom: 30px;
    font-size: 14px;
}

#castContent a.tileItem.smallPosterTileItem {
    width: 214px !important;
    margin: 0;
}

.smallPosterTileItem .tileImage {
    width: 80% !important;
    height: 264px !important;
}

.tileItem p {
    margin: 0 !important;
}

.tileItem p:first-child {
    color: #2BC253;
    font-weight: bold;
    font-size: 18px;
}

.ui-content>.detailPageContent {
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}
.btnPlay.detailFloatingButton {
    top: 275px;
    z-index: 1001;
    left: 1100px;
    position: absolute;
}

#childrenContent .card {
    width: 15%;
}

div#childrenCollapsible {
    /* min-height: 360px; */
    display: block !important;
}
div#childrenCollapsible.hide {
    visibility: hidden;
}

div#castContent {
    align-items: flex-end;
    flex-wrap: wrap;
}

paper-button.more.morePeople {
    margin-bottom: 11px;
}
.portraitDetailImageContainer img {
    width: 400px;
}
.nextUpSection.detailSection.hide {
    display: block !important;
    visibility: hidden;
}

.skinContainer.withBackdrop {
    /* margin: 0 10px 0 30px; */
}

a#lnkNextItem,a#lnkPreviousItem {
    z-index: 1000;
}

div.ui-content>div.detailPageContent>.detailSection:first-child {
    /* top: 500px; */
    /* position: relative; */
}

.thumbDetailImageContainer img, .squareDetailImageContainer img {
    width: 478px;
}

.collectionItems .detailSection:first-child{
    margin-top: 360px;
}

#mediaInfoContent div:last-child {
    max-width: none !important;
}
.portraitCard {
    width: 14.2% !important;
}
.detailPage169Card {
    width: 25% !important;
    margin-right: 60px !important;
    margin-bottom: 30px;
}
/*
div#scenesCollapsible {
    margin-top: -450px;
	margin-bottom: 0em !important;
}*/
.backdropCard {
    width: 25% !important;
}
div#scenesCollapsible {
    order: -1;
	margin-bottom: 0em;
    //margin-top: -500px;
}
.listPaging {
    width: 100%;
}
.cardContent .cardFooter {
    left: 1px !important;
}
.cardContent .cardFooter .cardText {
    font-size: 80%;
}
.nowPlayingBar, .nowPlayingImage img {
    min-height: 80px;
}
.criticRating {
    top: 0px !important;
}
.starRatingValue + .rottentomatoesicon {
    top: -4px !important;
}
.starRatingContainer iron-icon {
    color: #ffca00 !important;
    width: 3vh;
    height: 3vh;
}
div#criticReviewsCollapsible {
    order: -1;
    margin-top: -300px;
    margin-left: 520px;
    margin-bottom: 7em !important;
}
}
/*Frontend Tweaks*/
/*Make Played Indicator into Ribbon LHS*/
/*.playedIndicator i, .syncIndicator i {
	font-size: 150% !important;
	transform: rotate(45deg) !important;
}
.playedIndicator {
	top: 4px !important;
	left: -21px !important;
	width: 75px!important;
	height: 25px !important;
	border-radius: 0% !important;
	transform: rotate(-45deg) !important;
	background: rgba(82,181,75,.95) !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: rgba(255, 255, 255, 0.5) !important;
}*/
/*Move Overlay Button to top right*/
/*.cardOverlayButtonContainer {
	top: -11px !important;
	right: -5px !important;
}*/
/*Fixed Navigation Arrows In Place*/
 .lnkSibling {
 	position: fixed; top: 25%;
}
 /*Center Card Footer*/
.cardContent .cardFooter {
	width: 100%;
	text-align: center;
}
.homePageSection .cardBox .cardText {
    background-color: #52B54B;
}
.adminDrawer .scrollContainer  {
    background: #181818 !important;
}
.collapseContent {
    background-color: #181818 !important;
}             
.withBackdrop {
	background-color: rgba(0,0,0,.5);
}
/*Backend Fixes*/
/*Fix Dasboard Menu Bar Showing Progress Bars*/
.dashboardDocument .viewMenuBar {
	z-index: 1000;
}
/*Reports Filter Menu Fix*/
.ui-panel-inner {
	position: static !important;
	background: #222;
}
.ui-panel.ui-panel-open {
	position: absolute !important;
}
.ui-body-b.ui-panel {
	height: initial;
	min-height: initial;
	bottom: initial;
}
